@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-name: 'green';
    --background: 48 38% 90%;
    --foreground: 48 10% 20%;
    --card: 48 38% 90%;
    --card-foreground: 48 10% 20%;
    --popover: 48 38% 90%;
    --popover-foreground: 48 10% 20%;
    --primary: 88 43% 35%;
    --primary-foreground: 88 30% 95%;
    --secondary: 48 20% 75%;
    --secondary-foreground: 48 10% 20%;
    --muted: 48 20% 75%;
    --muted-foreground: 48 10% 45%;
    --accent: 35 78% 55%;
    --accent-foreground: 35 50% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 20% 65%;
    --input: 48 20% 70%;
    --ring: 88 43% 35%;
    --radius: 0.25rem;
  }
 
  .dark {
    --background: 250 24% 9%;
    --foreground: 0 0% 95%;
    --card: 250 20% 12%;
    --card-foreground: 0 0% 95%;
    --popover: 250 24% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 262 80% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 250 15% 18%;
    --secondary-foreground: 0 0% 95%;
    --muted: 250 15% 18%;
    --muted-foreground: 0 0% 60%;
    --accent: 312 80% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 15% 25%;
    --input: 250 15% 25%;
    --ring: 262 80% 58%;
    --radius: 0.125rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
