@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 240 10% 3.9%;
    --card: 240 5% 96%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 5% 96%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 262 80% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 4% 90%;
    --muted-foreground: 240 5% 45.1%;
    --accent: 312 80% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 80%;
    --input: 240 6% 85%;
    --ring: 262 80% 58%;
    --radius: 0.25rem;
  }
 
  .dark {
    --background: 250 24% 9%;
    --foreground: 0 0% 95%;
    --card: 250 20% 12%;
    --card-foreground: 0 0% 95%;
    --popover: 250 24% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 262 80% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 250 15% 18%;
    --secondary-foreground: 0 0% 95%;
    --muted: 250 15% 18%;
    --muted-foreground: 0 0% 60%;
    --accent: 312 80% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 15% 25%;
    --input: 250 15% 25%;
    --ring: 262 80% 58%;
    --radius: 0.125rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
